<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Water Quality Monitoring</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="brand">
            <img src="/static/logo.png" alt="NeerVani Logo" class="logo" />
            <h1>NeerVani</h1>
          </div>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Sign Up</a></li>
            <li><a href="reports.html">Reports</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="hero">
      <div class="hero-content">
        <h1>Welcome to Water Quality Monitoring</h1>
        <p>
          Discover a comprehensive platform dedicated to safeguarding your
          community's water quality. Access real-time data, gain valuable
          insights from community reports, and explore historical trends to stay
          informed about the safety of your local water supply. Join us in
          promoting water sanitation practices and participate in impactful
          community projects aimed at improving water resources for everyone.
        </p>
        <a href="mappage.html" class="cta-button">Explore the Map</a>
      </div>
    </section>
  </body>
</html>
